.title1 {
    color: rgba(11, 11, 98, 0.975);
    font-weight: bold;
}
.title2 {
    color: rgb(0, 0, 255);
}
.title3 {
    color: rgb(17, 142, 134);
}
.title4 {
    color: rgb(30, 144, 255);
}
.caption {
    background-color: rgba(227, 224, 224, 0.986);
    font-size: 105%;
    border-radius: 5px;
}
