.title1 {
    color: rgba(11, 11, 98, 0.975);
    font-weight: bold;
}
.title2 {
    color: rgb(0, 0, 255);
}
.title3 {
    color: rgb(17, 142, 134);
}
.title4 {
    color: rgb(30, 144, 255);
}
.caption {
    background-color: rgba(227, 224, 224, 0.986);
}
.tagcolor {
    color: rgb(0, 0, 205);
}
.tagname {
    color: rgb(165, 42, 42);
}
.codespan {
    color: rgba(175, 9, 9, 0.909);
}
nav {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-color: rgb(117, 118, 208);
    border-radius: 8px;
    font-size: 0;
}
nav a {
   line-height: 50px;
   height: 100%;
   font-size: 10px;
   display: inline-block;
   position: relative;
   z-index: 5;
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   color: antiquewhite;
   cursor: pointer;
}