/*.caption {
    background-color: rgba(227, 224, 224, 0.986);
}
.tagcolor {
    color: rgb(0, 0, 205);
}
.tagname {
    color: rgb(165, 42, 42);
}*/
.codespan {
    color: rgba(175, 9, 9, 0.909);
}
.codespan-css {
    color: rgb(30, 144, 255);
    .smaller, .bigger {
        font-weight: bold;
        color: rgb(61, 64, 66);
    }
}

:is(ul, ol) {
    list-style-type: disc;
} ::marker{
    color: rgba(234, 11, 11, 0.8);
}

#subitem {
    list-style-type: "\2BA9";
}